1/programming_assignment/data/*

1/tutorials/data/*

1/tutorials/models/Vgg19.h5

2/programming_assignment/data/*

2/readings/data/*

2/tutorials/data/*

3/rogramming_assignment/data/*

5/data/*

5/models/*